# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=29388536
API_HASH=1795cfeb72fdd9741bbaab5e02c57668
TOKEN=7436884583:AAEhOx1HzTIgFLA8zLBoi86sizc5VShu6IQ
STRING1=
MONGO_URI=mongodb+srv://rai:rai@cluster0.fktwown.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
API_URL=https://tgmusic.fallenapi.fun
API_KEY=
SONG_DURATION_LIMIT=3600
OWNER_ID=7436884583
LOGGER_ID=-1003571958820
DEFAULT_SERVICE=youtube
DOWNLOADS_DIR=
DB_NAME=MusicBot
COOKIES_URL=https://batbin.me/splenalgy
SUPPORT_GROUP=https://t.me/DVITTALBOTZ_DISSCUSSION
SUPPORT_CHANNEL=https://t.me/DVITTALBOTZ
DEVS=5912466219
